@model GamificationApi.Models.Player

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>Player</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPoints)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.GeneralStats)
        </dt>*@

        @foreach (var genStat in Model.GeneralStats)
        {
            <dt>@genStat.Name</dt>
            <dd>@genStat.Amount</dd>
        }
    </dl>
    <table style="width: 10%">
        <tr>
            <td>@Model.GeneralStats[0].Name</td>
            <td>@Model.GeneralStats[0].Amount</td>
        </tr>
        <tr>
            <td>@Model.GeneralStats[1].Name</td>
            <td>@Model.GeneralStats[1].Amount</td>
        </tr>
        <tr>
            <td>@Model.GeneralStats[2].Name</td>
            <td>@Model.GeneralStats[2].Amount</td>
        </tr>
        <tr>
            <td>@Model.GeneralStats[3].Name</td>
            <td>@Model.GeneralStats[3].Amount</td>
        </tr>
    </table>

    <h1>Achievements</h1>
    <dl>
        @foreach (var achievement in Model.Achievements)
        {
            <dt>@Html.ActionLink(achievement.Name, "Index")</dt> @*Link to Achievement "Details" based on ID*@
            <dd>@achievement.Description</dd>
        }
    </dl>
    
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
